﻿@model IEnumerable<ITask_4.Models.User>
@{
    ViewBag.Title = "Данные";
}
        <div align="right">
            <a href="@Url.Action("Logoff","Account")">
                <input type="button" value="Выйти из @User.Identity.Name" class="btn btn-lg" />
            </a>
        </div>
@using (Html.BeginForm("Table", "Home"))
{
    <div class="jumbotron" align="center">
        <h1>Данные пользователей</h1>
        <h2>@User.Identity.Name</h2>
        <form>
            <input type="submit" value="Block" name="block" id="Block" />
            <input type="submit" value="Unblock" name="unblock" id="Unblock" />
            <input type="submit" value="Delete" name="delete" id="Delete" />
            <table align="center" width="80%" id="table" class="table-condensed" border="1">
                <tr>
                    <td align="center"><input type="checkbox" name="total" value="checkbox" onClick="checkAll(this.form,this.checked)"></td>
                    <th align="center">Id</th>
                    <th width="22%" align="center">Имя</th>
                    <th width="23%" align="center">Email</th>
                    <th width="22%" align="center">Дата регистрации</th>
                    <th width="22%" align="center">Дата последней активности</th>
                    <th align="center">Состояние</th>
                </tr>
                @foreach (var user in Model)
                {
            <tr>
                <td align="center">
                    <input name="chkbox" type="checkbox" class="check" value="@user.Id" />
                </td>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.RegisterDate</td>
                <td>@user.LastActiveDate</td>
                @if (user.isBlocked)
                {
                    <td>Blocked</td>
                }
                else
                {
                    <td>Unblocked</td>
                }
            </tr>
                }
            </table>
        </form>
    </div>
}
<script type="text/javascript">
    function checkAll(oForm, checked) {
        oForm['chkbox'].checked = checked;
        for (var i = 0; i < oForm['chkbox'].length; i++)
            oForm['chkbox'][i].checked = checked;
    }
</script>